#login_normal{
	float: left;
	width: 40%;
	margin-left: 3%;
}
#login_openid{
	float: right;
	width: 50%;
	margin-right: 3%;
}

#login_table{
	width: 90%;
	margin: 1em auto;
}

#pass_chg_table{
	margin: 1em auto;
}

#Login_table,
#login_table tr, 
#login_table th,
#pass_chg_table,
#pass_chg_table tr,
#pass_chg_table th{
	border: none;
}

#login_table th,
#pass_chg_table th{
	text-align: right;
	padding: 0.1em 0.4em;
}

#login_table td,
#pass_chg_table td{
	text-align: left;
}
