.menu, .menu_current{
	margin: 0em 0.4em;
	padding: 0.2em 0.4em;
	font-weight: bold;
}

.menu_current{
	color: #6600ff;
}

.menu{
	cursor: pointer;
	color: #6600ff;
/* Firefox v3.6+ */
background-image:
-moz-linear-gradient(62% 185% 90deg,
rgb(204,102,255) 0%,
rgb(214,214,214) 0%,
rgb(153,2,255) 2%,
rgb(204,153,255) 99%); 

/* safari v4.0+ and by Chrome v3.0+ */
background-image:
-webkit-gradient(linear,
62% 185%,
62% -14%,
color-stop(0, rgb(204,102,255)),
color-stop(0, rgb(214,214,214)),
color-stop(0.02, rgb(153,2,255)),
color-stop(0.99, rgb(204,153,255)));

/* Chrome v10.0+ and by safari nightly build*/
background-image:
-webkit-linear-gradient(90deg,
rgb(204,102,255) 0%,
rgb(214,214,214) 0%,
rgb(153,2,255) 2%,
rgb(204,153,255) 99%);

/* Opera v11.10+ */
background-image:
-o-linear-gradient(90deg,
rgb(204,102,255) 0%,
rgb(214,214,214) 0%,
rgb(153,2,255) 2%,
rgb(204,153,255) 99%);

background-image:
linear-gradient(90deg,
rgb(204,102,255) 0%,
rgb(214,214,214) 0%,
rgb(153,2,255) 2%,
rgb(204,153,255) 99%);

/* Firefox v1.0+ */
-moz-border-radius:8px;
/* Safari v3.0+ and by Chrome v0.2+ */
-webkit-border-radius:8px;
/* Firefox v4.0+ , Safari v5.0+ , Chrome v4.0+ , Opera v10.5+  and by IE v9.0+ */
border-radius:8px;

background-color:#cc66ff;



filter:
	progid:DXImageTransform.Microsoft.gradient(startColorstr = #ffcc99ff,endColorstr = #ffcc66ff,GradientType = 0);

-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr = #ffcc99ff,endColorstr = #ffcc66ff,GradientType = 0)";
}

.menu:hover{
	color: #ff99ff;
	/* Firefox v1.0+ */
-moz-border-radius:8px;
/* Safari v3.0+ and by Chrome v0.2+ */
-webkit-border-radius:8px;
/* Firefox v4.0+ , Safari v5.0+ , Chrome v4.0+ , Opera v10.5+  and by IE v9.0+ */
border-radius:8px;

/* Firefox v3.6+ */
background-image:
-moz-linear-gradient(61% 67% 90deg,
rgb(102,0,255) 0%,
rgb(153,102,255) 100%); 

/* safari v4.0+ and by Chrome v3.0+ */
background-image:
-webkit-gradient(linear,
61% 67%,
61% 18%,
color-stop(0, rgb(102,0,255)),
color-stop(1, rgb(153,102,255)));

/* Chrome v10.0+ and by safari nightly build*/
background-image:
-webkit-linear-gradient(90deg,
rgb(102,0,255) 0%,
rgb(153,102,255) 100%);

/* Opera v11.10+ */
background-image:
-o-linear-gradient(90deg,
rgb(102,0,255) 0%,
rgb(153,102,255) 100%);

background-image:
linear-gradient(90deg,
rgb(102,0,255) 0%,
rgb(153,102,255) 100%);

background-color:#6600ff;

filter:
	progid:DXImageTransform.Microsoft.gradient(startColorstr = #ff9966ff,endColorstr = #ff6600ff,GradientType = 0);

-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr = #ff9966ff,endColorstr = #ff6600ff,GradientType = 0)";
	
}