.popup_comment, 
.popup_favorite, 
.popup_prefecture,
.popup_img{
	background:#ffffff; 
	display: none;
}

.popup_comment, 
.popup_favorite, 
.popup_prefecture{
	z-index:900;
}

.popup_img{
	z-index: 999;
}

.popup_comment,
.popup_prefecture,
.popup_img{
	border: groove 8px #6b8e23;
}

.popup_favorite{
border-style:solid;

/* Firefox v1.0+ */
-moz-border-radius:11px;
/* Safari v3.0+ and by Chrome v0.2+ */
-webkit-border-radius:11px;
/* Firefox v4.0+ , Safari v5.0+ , Chrome v4.0+ , Opera v10.5+  and by IE v9.0+ */
border-radius:11px;
border-width:2px;
border-color:#6b8e23;
}

.dragHandle{
	background: #6b8e23;
	cursor:move;
	color: #ffffff;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
}

.popup_comment .dragHandle,
.popup_prefecture .dragHandle,
.popup_img .dragHandle{
	width: 100%;
	height:30px;
}

.popup_favorite .dragHandle{
	width: 396px;
	height: 39px;
border-color:#6b8e23;

/* Firefox v1.0+ */
-moz-border-radius:9px;
/* Safari v3.0+ and by Chrome v0.2+ */
-webkit-border-radius:9px;
/* Firefox v4.0+ , Safari v5.0+ , Chrome v4.0+ , Opera v10.5+  and by IE v9.0+ */
border-radius:9px;

border-style:solid;

background-color:#6b8e23;

border-width:2px;
}

.popup_content{
	background:#ffffff; 
	z-index:990;
}

.popup_favorite .popup_content{
	width: 100%;
	height: 350px;
	overflow-y: scroll;
}

.popup_img .popup_content{
	padding: 0.4em;
	text-align: center;
}
.popup_img .popup_content input{
	margin: 0.6em auto;
}

.popup_close{
	float:right; 
	margin-top: 4.5px;
	margin-right: 10px; 
	width: 40px;
	height: 15px;
	cursor:pointer; 
	z-index:999;
	background-image: url("/image/close.jpg");
}

.members{
	width: 80%;
	margin-top: 1em;
	margin-left: 10%;
	padding: 0;
	list-style: none;
}

.members li{
	height: 3.5em;
}

.even, .odd{
	height: 3em;
	width: 90%;
	margin-top: 0.5em;
	padding: 0.2em 1em;
}

.even{
	background: #eee8aa;
}
.odd{
	background: #ffe4e1;
}

.member_post, .member_fav{
	width: 40%;
	margin-top: 0.1em;
	margin-left: 10%;
	margin-right: 0;
	float: left;
}

.member_who a{
	font-size: 1.2em;
	font-weight: bold;
}
.member_post a, .member_fav a{
	font-size: 0.8em;
}