.post{
	width: 90%;
	margin-top: 1em;
	margin-bottom: 0;
	margin-left: 0;
	border-color: #ffa500;
	border-style: outset;
	border-width: 0.3em;
}

.comment{
	width: 80%;
	margin-top: 0.4em;
	margin-left: 20%;
	margin-bottom: 0em;
	border-color: #9acd32;
	border-style: outset;
	border-width: 0.3em;
}

.head, .action{
	min-height: 1.4em;
	margin: 0;
	padding: 0.2em 1em;
}
.content{
	margin: 0;
	padding: 0.2em;
}

.post .head{background: #ffd700;}
.post .action{background: #ffa500;}
.comment .head{background: #bdb76b;}
.comment .action{background: #9acd32;}

.content{
	padding: 0.5em;
	clear: both;
}

.head span, .action span{
	margin-top: 0.1em;
}

.who, 
.to_post,
.to_favorite,
.toggleButton,
.favorite,
.popular,
.edit{
	float: left;
	margin-right: 0.6em;
}

.time, 
.add_comment{
	float: right;
	margin-left: 0.6em;
}

.who{
	font-size: 0.9em;
}
.to_post, .to_favorite{
	font-size: 0.8em;
}
.time{
	font-size: 0.7em;
}

.popular{
	font-size: 0.9em;
	font-weight: bold;
	color: #a0522d;
}
.popular a{
	font-size: 0.9em;
	padding: 0em 0.3em;
}

.textarea_and_button{
	width: 600px;
	margin: 0.2em auto;
	text-align: center;
}

.textarea_buttons{
	margin: 0.4em 1em;
	text-align: right;
}

.extra_content{
	width: 90%;
	margin: 0.4em auto;
	border: dotted 1px #888888;
}

.extra_links, .extra_images{
	clear: both;
	border: solid 1px #cccccc;
}

.extra_links .single,
.extra_images .single{
	padding: 0.2em 0.4em;
}
.extra_links .single{
	clear: both;
}
.extra_images .single{
	float: left;
}
.content .extra_images .single{
	height: 110px;
}	
.textarea_and_button .extra_images .single{
	height: 130px;
}

.to_be_deleted{
	clear: both;
	margin: 0.2em auto;
}

.page_info,
.page_info tr,
.page_info td{
	border: none;
}
.page_info td{
	padding: 5px;
	text-align: left;
}
.page_info td.thumb{
	width: 110px;
}

.description{
	font-weight: bold;
	font-size: 0.7em;
	color: #696969;
}
.thum{
	margin: 0.3em;
	padding: 0.1em 0.2em;
}
.thum.cand{
	cursor: pointer;
	border: solid 1px #000000;
}
.thum.current{
	font-weight: bold;
}

.old_post{
	width: 80%;
	margin: 1em auto;
	border: double 3px #2f4f4f;
}
.old_post .title{
	text-align: center;
	font-weight: bold;
	background: #2f4f4f;
	color: #ffffff;
}
.old_post .old{
	padding: 0.4em;
	font-size: 0.8em;
}