.profile_link{
	text-align: right;
}

.profile_link a{
	margin: 0.4em;
}

table#profile, 
table#register{
	width: 35em;
	margin: 1em auto;
	padding: 0;
	border: ridge 2px #8b008b;
	border-collapse: collapse;
	line-height: 1.4em;
}

table#profile tr,
table#register tr{
	height: 2.5em;
	border: solid 1px #8b008b;
	margin: 0;
	padding: 0;
}

table#profile td,
table#register td{
	margin: 0;
	padding: 0.4em;
	background: #ffffff;
}

table#profile th,
table#register th{
	margin: 0;
	padding :0.4em;
	width: 9em;
	font-weight: bold;
	text-align: left;
	color: #ffffff;
	
	/* Firefox v3.6+ */
background-image:
-moz-linear-gradient(50% 0% -90deg,
rgb(139,0,139) 0%,
rgb(255,204,255) 99%); 

/* safari v4.0+ and by Chrome v3.0+ */
background-image:
-webkit-gradient(linear,
50% 0%,
50% 100%,
color-stop(0, rgb(139,0,139)),
color-stop(0.99, rgb(255,204,255)));

/* Chrome v10.0+ and by safari nightly build*/
background-image:
-webkit-linear-gradient(-90deg,
rgb(139,0,139) 0%,
rgb(255,204,255) 99%);

/* Opera v11.10+ */
background-image:
-o-linear-gradient(-90deg,
rgb(139,0,139) 0%,
rgb(255,204,255) 99%);

background-image:
linear-gradient(-90deg,
rgb(139,0,139) 0%,
rgb(255,204,255) 99%);

background-color:#8b008b;



filter:
	progid:DXImageTransform.Microsoft.gradient(startColorstr = #ff8b008b,endColorstr = #ffffccff,GradientType = 0);

-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr = #ff8b008b,endColorstr = #ffffccff,GradientType = 0)";
}

input#email, input#password1, input#password2{
	margin-right: 0.8em;
}

input#nickName, input#website{
	width: 20em;
}
input#email, input#password, input#password1, input#password2{
	width: 12em;
}
input#birth_year{
	width: 3em;
}

.other{
	margin-left: 0.6em;
}

table#prefectures{
	margin: 1em;
}

table#prefectures,
table#prefectures tr,
table#prefectures th,
table#prefectures td{
	border: none;
}

table#prefectures th{
	font-weight: bold;
}

.pref_item{
	margin: 0em 0.6em 0em 0em;
	font-size: 0.8em;
	text-decoration: underline;
	cursor: pointer;
}

input.invalid{
	background-color: #ee82ee;
	font-weight: normal;
	color: #000000;
}

label.invalid{
	border: dotted 2px #dc143c;
	background-color: #ee82ee;
	font-weight: bold;
	font-size: 0.6em;
	color: #dc143c;
	padding: 0.4em;
}