html, body{
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

#header{
	width: 100%;
	height: 5%;
	background-image: url("/image/header.jpg");
	background-repeat: repeat;
	margin: 0;
	padding: 1em;
}

#wrapper{
	width: 80%;
	min-height: 82.5%;
	height: auto !important;
	height: 82.5%;
	background: #ffffff;
	margin: 0 auto;
	padding: 0;
}

#content{
	width: 94%;
	height: 100%;
	margin: 0;
	padding: 3%;
}

#footer{
	clear: both;
	width: 100%;
	height: 3%;
	background-image: url("/image/footer.jpg");
	background-repeat: repeat;
	margin: 0;
	padding: 1em;
	text-align: center;
	font-size: 0.8em;
}

img{
	border: none;
}

body{
	background-image: url("/image/body.jpg");
	background-repeat: repeat;
	line-height: 1.4em;
	font-size: 1em;
}

#page_title{
	margin: 0;
	padding: 0.2em;
	font-size: 1.6em;
	font-weight: bold;
	background: #d8bfd8;
	color: #ff1493;
	text-align: center;
}

#login_data{
	background: #ee82ee;
	text-align: right;
	margin: 0 auto;
	padding: 0.2em 1em;
}

#menu_list{
	margin: 1.4em auto 0em auto;
	text-align: center;
}

.small{
	font-size: 0.8em;
}
.large{
	font-size: 1.2em;
}
.bold{
	font-weight: bold;
}
.notice{
	font-weight: bold;
	color: #ff0000;
}
.info{
	margin: 1em auto;
	padding: 0.4em;
	font-weight: bold;
	font-size: 0.8em;
	border: double 3px #2f4f4f;
	color: #2f4f4f;
}
.input_label{
	font-weight: bold;
	text-align: right;
	color: #7b68ee;
	padding-right: 0.8em;
}
.error, .success{
	width: 90%;
	margin: 1em auto;
	padding: 0.2em 0.6em;
	text-align: center;
	font-weight: bold;
}

.error{
	border-color: #dc143c;
	border-style: dotted;
	border-width: 4px;
	background-color: #ee82ee;
	color: #dc143c;
}

.success{
	border-color: #008b8b;
	border-style: dotted;
	border-width: 4px;
	background-color: #b0e0e6;
	color: #008b8b;
}

.psudo_button,
.psudo_button:link,
.psudo_button:visited,
.psudo_button:hover,
.psudo_button:active{
	cursor: pointer;
	text-decoration: none;
	text-align: center;
	font-weight: bold;
	font-size: 0.8em;
	padding: 0.1em 0.4em;
	border-style: outset;
	border-width: 2px;
	color: #000000;
}

.psudo_button,
.psudo_button:link,
.psudo_button:visited{
	border-color: #fdf5e6;
/* Firefox v1.0+ */
-moz-border-radius:8px;
/* Safari v3.0+ and by Chrome v0.2+ */
-webkit-border-radius:8px;
/* Firefox v4.0+ , Safari v5.0+ , Chrome v4.0+ , Opera v10.5+  and by IE v9.0+ */
border-radius:8px;

/* Firefox v3.6+ */
background-image:
-moz-linear-gradient(49% 0% -87deg,
rgb(255,255,255) 0%,
rgb(204,204,204) 99%); 

/* safari v4.0+ and by Chrome v3.0+ */
background-image:
-webkit-gradient(linear,
49% 0%,
51% 92%,
color-stop(0, rgb(255,255,255)),
color-stop(0.99, rgb(204,204,204)));

/* Chrome v10.0+ and by safari nightly build*/
background-image:
-webkit-linear-gradient(-87deg,
rgb(255,255,255) 0%,
rgb(204,204,204) 99%);

/* Opera v11.10+ */
background-image:
-o-linear-gradient(-87deg,
rgb(255,255,255) 0%,
rgb(204,204,204) 99%);

background-image:
linear-gradient(-87deg,
rgb(255,255,255) 0%,
rgb(204,204,204) 99%);

background-color:#ffffff;



filter:
	progid:DXImageTransform.Microsoft.gradient(startColorstr = #ffffffff,endColorstr = #ffcccccc,GradientType = 0);

-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr = #ffffffff,endColorstr = #ffcccccc,GradientType = 0)";
}

.psudo_button:hover,
.psudo_button:active{
/* Firefox v3.6+ */
background-image:
-moz-linear-gradient(49% 0% -87deg,
rgb(255,255,255) 0%,
rgb(153,204,255) 98%); 

/* safari v4.0+ and by Chrome v3.0+ */
background-image:
-webkit-gradient(linear,
49% 0%,
51% 92%,
color-stop(0, rgb(255,255,255)),
color-stop(0.98, rgb(153,204,255)));

/* Chrome v10.0+ and by safari nightly build*/
background-image:
-webkit-linear-gradient(-87deg,
rgb(255,255,255) 0%,
rgb(153,204,255) 98%);

/* Opera v11.10+ */
background-image:
-o-linear-gradient(-87deg,
rgb(255,255,255) 0%,
rgb(153,204,255) 98%);

background-image:
linear-gradient(-87deg,
rgb(255,255,255) 0%,
rgb(153,204,255) 98%);

/* Firefox v1.0+ */
-moz-border-radius:8px;
/* Safari v3.0+ and by Chrome v0.2+ */
-webkit-border-radius:8px;
/* Firefox v4.0+ , Safari v5.0+ , Chrome v4.0+ , Opera v10.5+  and by IE v9.0+ */
border-radius:8px;

background-color:#ffffff;



filter:
	progid:DXImageTransform.Microsoft.gradient(startColorstr = #ffffffff,endColorstr = #ff99ccff,GradientType = 0);

-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr = #ffffffff,endColorstr = #ff99ccff,GradientType = 0)";
}

.psudo_a{
	text-decoration: underline;
	cursor: pointer;
}

.paging{
	margin: 1em auto;
	text-align: center;
	font-size: 80%;
}
.page_text, .page_num, .page_self{
	margin: 0em 0.3em;
}
.page_num{
	padding: 0.1em 0.4em;
	border: solid 1px #483d8b;
}
.page_num a{
	text-decoration: none;
}
.page_self{
	font-weight: bold;
}